.ing {
  width: 50px;
  height: 50px;
}
.tit {
  font-size: 24px;
}

a {
  text-decoration: none;
}

.pljr {
  font-size: 14px;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.xcv {
  font-size: 16px;
}